# system
.DS_Store
.vscode
!**/.gitkeep

# env files
.env
.env.local

# app config
*.config.json

# local files
node_modules/
config.json

# storage

clients.txt
banned.txt
/products
/symbols
data/*
persistence.json
events.log

#  3rd party
coinalize.key
