{
	"debug": false,
	"port": 3000,
	"pairs": [
    'BITFINEX:BTCUSD',
    'BINANCE:btcusdt',
    'OKEX:BTC-USDT',
    'KRAKEN:XBT/USD',
    'COINBASE:BTC-USD',
    'POLONIEX:USDT_BTC',
    'HUOBI:btcusdt',
    'BITSTAMP:btcusd',
    'BITMEX:XBTUSD',
    'BITFINEX:BTCF0:USTF0',
    'OKEX:BTC-USD-SWAP',
    'OKEX:BTC-USDT-SWAP',
    'BINANCE_FUTURES:btcusdt',
    'BINANCE_FUTURES:btcusd_perp',
    'HUOBI:BTC-USD',
    'KRAKEN:PI_XBTUSD',
    'DERIBIT:BTC-PERPETUAL',
    'FTX:BTC-PERP',
    'BYBIT:BTCUSD'
  ],
	"broadcast": false,
	"broadcastDebounce": 200,
	"broadcastAggr": true,
	"backupInterval": 10000,
	"collect": true,
	"storage": ['files'],
	"origin": ".*",
	"filesLocation": "./data",
}
