version: '3.7'

services:
  server:
    container_name: st-server
    image: significant-trades-server
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - WORKDIR=${WORKDIR}
        - FILES_LOCATION=${FILES_LOCATION}
        - PORT=${SERVER_PORT}
        - INFLUX_URL=influx:${INFLUX_PORT}
        - STORAGE=${STORAGE}
    volumes:
      - ./${FILES_LOCATION}:${WORKDIR}/${FILES_LOCATION}
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}

  # influx:
  #   container_name: st-influxdb
  #   image: influxdb
  #   ports:
  #     - ${INFLUX_PORT}:${INFLUX_PORT}
  #   volumes:
  #     - ./${FILES_LOCATION}/influxdb:/var/lib/influxdb
